@model L9.Models.Category

<div>
    <h4>Category Detail for ID: @Model.Id</h4>
    <hr />


    <div class="row">

        <div class="col-md-4">

            @if (string.IsNullOrEmpty(Model.Image))
            {
                <img src="~/Images/CategoryImages/ph.png" class="img-fluid img-thumbnail" alt="" />

            }
            else
            {
                <img src="~/Images/CategoryImages/@Model.Image" class="img-fluid img-thumbnail" alt="" />

            }

        </div>
        <div class="col-md-8">
            <dl>
                <dt class="col-sm-2">
                    Name
                </dt>
                <dd class="col-sm-10">
                    @Model.Name
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ShortDescription)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ShortDescription)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.LongDescription)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.LongDescription)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Status)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CreatedDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CreatedBy)
                </dd>
            </dl>

            <div>
                <a href="/Category/Edit?Id=@Model.Id" class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i> Edit</a>
                <a href="/Category/Delete?Id=@Model.Id" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>  Delete</a>

                <a class="btn btn-success btn-sm" asp-action="AllCategories"> <i class="fa fa-search"></i>  Back to List</a>

            </div>
        </div>

    </div>





</div>


